.span-1 {
  width: 28px;
}

.span-2 {
  width: 64px;
}

.span-3 {
  width: 100px;
}

.span-4 {
  width: 136px;
}

.span-5 {
  width: 173px;
}

.span-6 {
  width: 209px;
}

.span-7 {
  width: 245px;
}

.span-8 {
  width: 281px;
}

.span-9 {
  width: 317px;
}

.span-10 {
  width: 354px;
}

.span-11 {
  width: 390px;
}

.span-12 {
  width: 426px;
}

.offset-1 {
  margin-left: 36px;
}

.offset-2 {
  margin-left: 72px;
}

.offset-3 {
  margin-left: 109px;
}

.offset-4 {
  margin-left: 145px;
}

.offset-5 {
  margin-left: 181px;
}

.offset-6 {
  margin-left: 217px;
}

.offset-7 {
  margin-left: 253px;
}

.offset-8 {
  margin-left: 290px;
}

.offset-9 {
  margin-left: 326px;
}

.offset-10 {
  margin-left: 362px;
}

.offset-11 {
  margin-left: 398px;
}

